@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(135deg, #000000, #002141);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 800px;
    background: radial-gradient(circle, rgba(98, 255, 98, 0.637), transparent);
    top: -20%;
    left: -20%;
    filter: blur(80px);
    border-radius: 50%;
    z-index: -1;
}
body::after {
    content: '';
    position: absolute;
    width: 900px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 153, 255, 0.6), transparent);
    bottom: 0%;
    top: 50%;
    right: 0%;
    filter: blur(100px);
    border-radius: 50%;
    z-index: -1;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px rgba(3, 178, 201, 0.363);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5rem;
    width: 40rem;
}

.content img{
    width: 80px;
    margin : 20px;
}
.explore{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #2a7513;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    margin-bottom: 20px;

}

.explore:hover {
    background: #1f6709;
    transform: translateY(1px);
}

.explore svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    animation: moveArrow 1s infinite;
}

@keyframes moveArrow {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
}

.bg-image{
    display: flex;
    flex-direction: row ;
    align-items: center;
    left: -10%;
    overflow: hidden;
    top: 12%;
    position: absolute;
    z-index: -1;
}

.bg-image img{
    width: 60%;
    object-fit: cover;
    overflow: hidden;
}
