@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for the navigation menu */
nav ul {
    @apply list-none mt-8 p-4 flex flex-col items-center gap-4;
}

/* General styling for buttons in the navigation */
.nav-btn {
    @apply bg-white flex items-center justify-center px-6 py-3 gap-4 cursor-pointer mt-4 text-gray-800 font-medium rounded-lg shadow-lg;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease;
}

/* Styling for the 8th button */
.nav-btn:nth-child(8) {
    @apply mt-12;
}

/* Hover effects for buttons */
.nav-btn:hover {
    @apply bg-green-600 text-white transform scale-105 shadow-xl;
}

/* Optional: Add active state for buttons */
.nav-btn:active {
    @apply bg-green-700 transform scale-95;
}

/*------logout button styles--------*/
.nav-btn-logout{
    @apply bg-white flex items-center justify-center px-6 py-4 gap-2 cursor-pointer mt-2 text-gray-800 font-medium rounded-lg shadow-lg;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease;
}

.nav-btn-logout:hover {
    @apply bg-gray-600 text-white transform scale-105 shadow-xl;
}

.nav-btn-logout:active {
    @apply bg-red-600 transform scale-95;
}
.action > :first-child:hover path {
    fill: #00ff15;
    transition: 0.5s;
}

.action > :nth-child(2):hover path {
    fill: #ff0000;
    transition: 0.5s;
}

.action > :nth-child(3):hover path {
    fill: #0082ff;
    transition: 0.5s;
}

.table-rows{
    height: 68vh;
}

